// Colours
$brand-primary : 	hsl(0, 0%, 100%);
$brand-secondary : 	hsl(0, 0%, 90%);

// Breakpoints
$bp-mobile-s : 	320px;
$bp-mobile-m : 	375px;
$bp-mobile-l : 	425px;
$bp-tablet : 	768px;
$bp-laptop : 	1024px;
$bp-laptop-l : 	1440px;
$bp-4k : 	2560px;
